@page
@model PotionHouse.Areas.Account.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<form method="post">
    <div>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <input type="submit" value="Register"/>
</form>