@page
@model PotionHouse.Pages.Potions.IndexModel
@{
    ViewData["Title"] = "Potions";
}

@if (Model.Potions.Count != 0)
{
    @foreach(var potion in Model.Potions){
        <article>
            <h3>@potion.Title</h3>
        </article>
    }
}
else 
{
    <h3>No potions to display.</h3>
}