@page
@model PotionHouse.Pages.Potions.ListModel
@{
    ViewData["Title"] = "Potions";
}

<section class="container d-flex gap-4">
    @if (Model.Potions.Count != 0)
    {
        foreach(var potion in Model.Potions){
            <article>
                <h3>@potion.Title</h3>
            </article>
        }
    }
    else 
    {
        <h3>No Potions to display.</h3>
    }
</section>