@page
@model PotionHouse.Areas.Admin.Pages.Users.Roles.Remove

@{
    ViewData["Title"] = "Remove User from Role";
}

<section style="max-width: 300px" class="w-100 m-auto">
    <h3>Remove User from Role</h3>
    @if (Model.Message is not null)
    {
        <div class="alert alert-primary" role="alert">
            @Model.Message
        </div>
    }
    <form method="post" >
        <div class="mb-3">
            <label asp-for="UserId" class="form-label"></label>
            <input asp-for="UserId" class="form-control">
            <span asp-validation-for="UserId" class="font-monospace text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RoleName" class="form-label"></label>
            <select asp-for="RoleName" name="roleName" asp-items="Model.Roles" class="form-select"></select>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-primary">Remove from Role</button>
        </div>
    </form>
</section>